<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAdminService" />
                <binding name="WSHttpBinding_IMedicineService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Aservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdminService"
                contract="AdminService.IAdminService" name="WSHttpBinding_IAdminService">
                <identity>
                    <userPrincipalName value="LAPTOP-IUQLSVIP\Karan Ladani" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Mservice"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMedicineService"
                contract="MedicineService.IMedicineService" name="WSHttpBinding_IMedicineService">
                <identity>
                    <userPrincipalName value="LAPTOP-IUQLSVIP\Karan Ladani" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>